body {
    margin: 0;
    background-color: #867baf;
}

header {
    display: flex;
    align-items: center;
    background-color: #ece8e6;
    position: sticky;
    top: 0;

    #spacer {
        flex-grow: 1;
    }


}

#github {
    content: url("./github.png");
    width: 40px;
    height: 40px;
    padding: 10px;

}

#twitter {
    content: url("./twitter-alt-square.png");
    width: 40px;
    height: 40px;
    padding: 10px;

}

#linkedin {
    content: url("./linkedin.png");
    width: 40px;
    height: 40px;
    padding: 10px;

}


h1 {
    text-align: left;
    font-size: 20px;
}



.v200w {
    animation: spin 10s linear infinite forwards;
    cursor: pointer;
}

#top {
    position: absolute;
    top: 0;
}

@keyframes spin {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }


}



.pfp {
    border-radius: 50%;
    display: block;

    margin-right: 16px;
    max-width: 300px;
    float: left;
}

main {
    max-width: 850px;
    margin: 32px auto;
}